#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.user-card{
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 2rem;
  background-color: rgb(202, 240, 240);
  border-radius: 10px;
}

.user-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
#refresh-btn{
  border: black 1px solid;
  border-radius: 5px;
  background-color: red;
  color: aliceblue;

}
}

#refresh-btn{
  border: black 1px solid;
  border-radius: 5px;
  background-color: aquamarine;
}

.user-img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
